In [28]:
import pandas as pd
import numpy as np

In [19]:
df = pd.read_csv("bank/bank-additional.csv", sep= ";")

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4119 entries, 0 to 4118
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             4119 non-null   int64
 1   job             4119 non-null   object
 2   marital         4119 non-null   object
 3   education       4119 non-null   object
 4   default         4119 non-null   object
 5   housing         4119 non-null   object
 6   loan            4119 non-null   object
 7   contact         4119 non-null   object
 8   month           4119 non-null   object
 9   day_of_week     4119 non-null   object
 10  duration        4119 non-null   int64
 11  campaign        4119 non-null   int64
 12  pdays           4119 non-null   int64
 13  previous        4119 non-null   int64
 14  poutcome        4119 non-null   object
 15  emp.var.rate    4119 non-null   float64
 16  cons.price.idx  4119 non-null   float64
 17  cons.conf.idx   4119 non-null   float64
 18  euribor3m       4119 non-null   float64
 19  nr.employed     4119 non-null   float64
 20  y               4119 non-null   object
dtypes: float64(5), int64(5), object(11)
memory usage: 675.9+ KB

In [21]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [22]:
df.head(4)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,30,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,2,999,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,no
1,39,services,single,high.school,no,no,no,telephone,may,fri,...,4,999,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,no
2,25,services,married,high.school,no,yes,no,telephone,jun,wed,...,1,999,0,nonexistent,1.4,94.465,-41.8,4.962,5228.1,no
3,38,services,married,basic.9y,no,unknown,unknown,telephone,jun,fri,...,3,999,0,nonexistent,1.4,94.465,-41.8,4.959,5228.1,no

Before we do any cleaning or analysis, we're going to split the data into two different dataframes to prevent data leackage.

In [23]:
X = df.iloc[:, : -1].values
y = df.iloc[:, -1].values

In [24]:
X

array([[30, 'blue-collar', 'married', ..., -46.2, 1.313, 5099.1],
       [39, 'services', 'single', ..., -36.4, 4.855, 5191.0],
       [25, 'services', 'married', ..., -41.8, 4.962, 5228.1],
       ...,
       [27, 'student', 'single', ..., -46.2, 1.354, 5099.1],
       [58, 'admin.', 'married', ..., -36.1, 4.966, 5228.1],
       [34, 'management', 'single', ..., -42.0, 4.12, 5195.8]],
      dtype=object)

In [25]:
y

array(['no', 'no', 'no', ..., 'no', 'no', 'no'], dtype=object)

In order for our data to be interpretable by the computer, we convert yes/no into 1/0.

Encoding the Dependent Variable.

In [26]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
y = le.fit_transform(y)

In [32]:
# Reshape y to be a column vector
y = y.reshape(-1, 1)

In [33]:
print(y)

[[0]
 [0]
 [0]
 ...
 [0]
 [0]
 [0]]

In [34]:
df_clean = np.concatenate([X, y], axis=1)

In [37]:
df_clean = pd.DataFrame(df_clean)

In [38]:
df_clean = df_clean.to_csv("bank-additional-cleaned.csv")